loglevel=warn
progress=false

# ensure node-gyp uses python3 binary (instead of v2)
python=/usr/local/bin/python3

# Auth for Github Artifacts
# @my-custom-scope1:registry=https://npm.pkg.github.com/
# @my-custom-scope2:registry=https://npm.pkg.github.com/
# //npm.pkg.github.com/:_authToken=xxxxxxxxxxxxxx
